@model Plenum_1.Models.Kunde
@{
    ViewBag.Title = "VisKunde";
}

<h2>VisKunde</h2>
Navn :    @Model.Navn <br />
Adresse : @Model.Adresse <br />

<a href="/Home/Index" class="btn btn-primary">Home</a>
